.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  height: 200px;
  width: 100%;
}

.profile-header {
  width: 50%;
  margin-top: 100px;
  margin-right: 4em;
  padding-top: 125px;
  /* width: 20em; */
  height: 20em;
  background-color: #E1C49A;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

@media only screen and (max-width: 768px) {
  .profile-header {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }
}