.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  height: 200px;
  width: 100%;
}

.profile-header {
  padding-top: 125px;
  width: 50em;
  background-color: #E1C49A;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}
